html,
body {
  height: 1050px;
}

body {
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.wrap {
  position: relative;
  padding: 100px;

  width: 100%;
  max-width: 900px;
  height: 950px;

  margin: auto;
  background-color: #bbffee;

  box-shadow: 1px 1px 3px gray;
}

.login_img_row {
  width: 100%;
}

.login_img_box {
  width: 250px;
  margin: auto;
}

.login_img_box img {
  width: 100%;
  box-shadow: 1px 1px 3px gray;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bt_color {
  background-color: #0099ee;
}
