<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <!-- jQuery, Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="http://code.jquery.com/jquery-latest.js"
    ></script>

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap"
      rel="stylesheet"
    />

    <!-- css, js -->
    <link rel="stylesheet" href="../static/css/common.css" />
    <link rel="stylesheet" href="../static/css/recommend.css" />
    <script defer src="../static/js/common.js"></script>
    <script defer src="../static/js/recommend.js"></script>
    <!-- 참조할 css, js -->

  <!-- css, js -->
  <link rel="stylesheet" href="../static/css/common.css" />
  <link rel="stylesheet" href="../static/css/recommend.css" />
  <script defer src="../static/js/common.js"></script>
  <script defer src="../static/js/recommend.js"></script>
  <!-- 참조할 css, js -->

  <!-- 페이지별 타이틀 -->
  <title>MyLittleShoes_recommend</title>
</head>
<!-- 해더 -->
<div class="header">
  <!--    로고-->
  <div class="header_body">
    <a href="/static"><img class="logo" src="../static/image/logo.png" /></a>
    <!--        타이틀-->
    <div class="container">
      <div class="neon">M L S</div>
    </div>
    <!--        유저정보-->
    <div class="user_info">
      <span style="font-weight: bold" id="user_name">김동우</span>
      <br />
      <span id="user_email">kimphysicsman</span> <br />
      <button id="logout_btn" onclick="location.href='/logout'">
        로그아웃
      </button>
      <button id="logout_btn" onclick="location.href='/update'">
        회원 수정
      </button>
      <button id="logout_btn" onclick="location.href='/delete'">
        회원 탈퇴
      </button>
    </div>
  </div>
</div>

<body class="team_color">
  <!-- 메뉴바 -->
  <div class="menu_bar">
    <!-- 상단바 메뉴 -->
    <div class="brand_menu_bar">
      <ul class="brandmenu">
        <li class="left"><a href="">나이키</a></li>
        <li class="middle"><a href="">아디다스</a></li>
        <li class="right"><a href="">퓨마</a></li>
      </ul>
    </div>
    <div class="type_menu_bar">
      <ul class="typemenu">
        <li><a class="home" href="#">home</a></li>
        <li><a href="#">color</a>
          <ul class="colormenu">
            <li><a href="#">red</a></li>
            <li><a href="#">orange</a></li>
            <li><a href="#">yellow</a></li>
            <li><a href="#">green</a></li>
            <li><a href="#">blue</a></li>
            <li><a href="#">indigo</a></li>
            <li><a href="#">purple</a></li>
            <li><a href="#">white</a></li>
            <li><a href="#">black</a></li>
            <li><a href="#">other</a></li>
          </ul>
        </li>
        <li><a href="#">height</a>
          <ul class="heightmenu">
            <li><a href="#">low</a></li>
            <li><a href="#">middle</a></li>
            <li><a href="#">high</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>


  <div class="main_body">

    <!-- 상품리스트 -->
    <div class="productinfo">
      <aside class="blank">
        <p></p>
      </aside>
      <section>
        <article id="result-box">
        </article>
      </section>


    </div>

    <div class="main_body">
      <!-- 상품리스트 -->
      <div class="productinfo"></div>
    </div>
  </body>
</html>
